@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
  text-align: center;
  font-family: Dosis, Arial, Verdana;
}

::-webkit-scrollbar {
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}

#colorBox {
  border: 1px solid black;
  margin: 20px auto;
  width: 800px;
  height: 20px;
}

.textbox {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.dropbox {
  .textbox();
  border: 2px dashed gray;
  &.over {
    border: 2px solid gray;
    background: #e6e6e6;
  }
}

canvas {
  border: 1px solid black;
}

input[type="range"] {
  @height: 6px;
  -webkit-appearance: none;
  appearance: none;
  min-width: 300px;
  height: @height;
  border-radius: @height / 2;
  background: #dddddd;
  border: 1px solid gray;

  &::-webkit-slider-thumb {
    @size: 20px;
    -webkit-appearance: none;
    width: @size;
    height: @size;
    border-radius: @size / 2;
    border: 1px solid gray;
    background-image:-webkit-gradient(linear, left top, left bottom,
      color-stop(0, #fefefe),
      color-stop(0.49, #dddddd),
      color-stop(0.51, #d1d1d1),
      color-stop(1, #a1a1a1));
  }
}

.spacer {
  width: 1em;
  height: 1em;
}

button {
  border: 1px solid black;
  padding: 5px;
  background: -webkit-linear-gradient(top, white, #b9b9b9);
  border-radius: 5px;
  &:active {
    background: -webkit-linear-gradient(top, white, gray);
  }
}

label {
  display: inline-block;
  min-width: 200px;
  margin: 0 5px;
  text-align: left;
}