<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Spiral Raster</title>
    <link rel="stylesheet/less" type="text/css" href="less/app.less" />
    <script src="js/vendor/less.js"></script>
    <!--<script data-main="js/app" src="js/vendor/require.js"></script>-->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="Spiral">
<div dnd>Drop an image here</div>
<div class="spacer"></div>
<input type="checkbox" ng-model="useColor" ng-change="redraw()" />Preserve color
<p><canvas id="spiralCanvas" width="800" height="600"></canvas></p>
<div>
    <input type="range" min="1" max="10" value="3" id="radius" ng-model="sampleRadius">
    <label for="radius">Sampling radius: {{sampleRadius}}</label>
    <button ng-click="redraw()">Refresh</button>
</div>
<div id="colorBox"></div>
Click anywhere on the image below to sample average color.
<p><canvas id="originCanvas" width="800" height="600" sample></canvas></p>

</body>
</html>